.page-header {
    border-bottom: solid 1px var(--color-bar);
    padding: 0 0 var(--spacing-l);
}

.page-header.centered {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-header-title {
    color: var(--color-anthracite);
    font-size: var(--font-size-xxl);
    font-weight: 600;
    line-height: var(--line-height-xxl);
    margin: 0;
}

.page-header-description {
    color: var(--color-anthracite);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-normal);
    margin: 0;
}

@media screen and (max-width: 800px) {
    .page-header-title {
        font-size: var(--font-size-xl);
        line-height: var(--line-height-xl);
    }
}

@media screen and (max-width: 640px) {
    .page-header {
        padding: 0 0 var(--spacing-m);
    }

    .page-header-title {
        font-size: var(--font-size-m);
        line-height: var(--line-height-m);
    }

    .page-header-description {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-sm);
    }
}

@media screen and (max-width: 480px) {
    .page-header {
        padding: 0 0 var(--spacing-s);
    }

    .page-header-title {
        font-size: var(--font-size-mm);
        line-height: var(--line-height-m);
    }

    .page-header-description {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-sm);
    }
}

@media screen and (max-width: 320px) {
    .page-header-title {
        font-size: var(--font-size-normal);
    }

    .page-header-description {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-xs);
    }
}
