.plant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  max-width: 100%;
  padding-top: var(--spacing-m);
}

.no-plants-msg {
  padding: 0 20%;
  width: 100%;
}

.no-plants-msg > div {
  align-items: center;
  background-color: var(--color-success-bg);
  color: var(--color-success);
  display: flex;
  font-size: var(--font-size-m);
  font-weight: 500;
  justify-content: center;
  line-height: var(--line-height-m);
  padding: 3em;
}
