.plant-panel {
    display: flex;
    flex-wrap: wrap;
}

.plant-panel-heading {
    align-items: center;
    border-bottom: solid 1px var(--color-bar);
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    padding: 6px 0;
}

.plant-name {
    color: var(--color-anthracite);
    font-size: var(--font-size-l);
    font-weight: 500;
    line-height: var(--line-height-l);
}

.plant-species {
    color: var(--color-anthracite-light);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-sm);
}

.plant-panel-heading-btns-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding: 4px;
}

.plant-panel-heading-btn {
    align-items: center;
    background: transparent;
    border: none;
    color: var(--color-anthracite);
    cursor: pointer;
    display: flex;
    font-size: var(--font-size-l);
    justify-content: center;
    line-height: var(--line-height-l);
    margin: 0 4px;
    padding: 4px;
    position: relative;
}

.plant-panel-btn-tooltip {
    bottom: 110%;
    color: white;
    background-color: var(--color-grey);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-xs);
    padding: 8px 12px;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    transition: opacity 0.15s ease;
    z-index: 101;
}

.plant-panel-heading-btn:hover .plant-panel-btn-tooltip {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .plant-name {
        font-size: var(--font-size-m);
        line-height: var(--line-height-m);
    }
}

@media screen and (max-width: 640px) {
    .plant-name {
        font-size: var(--font-size-mm);
        line-height: var(--line-height-m);
    }
    .plant-species {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-xs);
    }
    .plant-panel-heading-btn {
        font-size: var(--font-size-m);
        line-height: var(--line-height-m);
    }
}

@media screen and (max-width: 320px) {
    .plant-name {
        font-size: var(--font-size-normal);
        line-height: var(--line-height-normal);
    }
    .plant-species {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-xs);
    }
    .plant-panel-heading-btn {
        font-size: var(--font-size-mm);
        line-height: var(--line-height-mm);
    }
}
