html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ReactCollapse--collapse {
  transition: height 0.25s ease;
}

:root {
  /* colors */
  --color-anthracite: rgba(34, 34, 34, 0.99);
  --color-anthracite-light: rgba(34, 34, 34, 0.8);
  --color-anthracite-lighter: rgba(34, 34, 34, 0.6);
  --color-bar: #d0d1d3;
  --color-error: rgb(205, 32, 43);
  --color-error-bg: rgb(255, 222, 224);
  --color-grey: rgba(60, 60, 60, 0.99);
  --color-success: rgb(70, 98, 78);
  --color-success-bg: rgb(217, 246, 222);
  --color-plant-img-bg: rgba(34, 34, 34, 0.05);

  /* font sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-normal: 1rem;
  --font-size-mm: 1.25rem;
  --font-size-m: 1.5rem;
  --font-size-l: 1.75rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.5rem;

  /* font weights */
  --font-weight-light: 400;
  --font-weight-heavy: 700;

  /* line heights */
  --line-height-xs: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-normal: 1.5rem;
  --line-height-m: 1.75rem;
  --line-height-l: 2rem;
  --line-heigh-xl: 2.25rem;
  --line-height-xxl: 3rem;

  /* spacing */
  --spacing-s: 12px;
  --spacing-m: 24px;
  --spacing-l: 36px;

  /* border widths */
  --border-width-sm: 1px;
  --border-width-m: 2px;
}

