.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px 33.33% 0;
}

@media screen and (max-width: 1112px) {
    .button-wrapper {
        padding: 24px 30% 0;
    }
}

@media screen and (max-width: 800px) {
    .button-wrapper {
        padding: 24px 26.66% 0;
    }
}

@media screen and (max-width: 640px) {
    .button-wrapper {
        padding: 12px 23.33% 0;
    }
}

@media screen and (max-width: 480px) {
    .button-wrapper {
        padding: 12px 20% 0;
    }
}

@media screen and (max-width: 320px) {
    .button-wrapper {
        padding: 12px 16.66% 0;
    }
}
