.footer {
    background-color: var(--color-anthracite-lighter);
    margin-top: auto;
    padding: var(--spacing-m);
}

.footer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    margin: 16px 0;
    padding: 0;
}

.footer-list-item {
    padding: 16px;
}

.footer-link {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: var(--border-width-sm);
    color: var(--color-anthracite);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-sm);
    padding-bottom: 2px;
    text-decoration: none;
    transition: border-bottom-color 0.15s ease;
}

.footer-link:hover {
    border-bottom-color: var(--color-anthracite);
}

.footer-logo {
    color: var(--color-anthracite);
    padding: 16px 0;
    text-align: center;
}

.footer-lang-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-anthracite);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-sm);
    margin: 0;
    padding: 0 4px 2px;
    text-decoration: none;
    transition: all 0.15s ease;
}

.footer-lang-btn:hover {
    font-weight: 600;
}

.footer-lang-btn.active {
    font-weight: 600;
}

@media screen and (max-width: 640px) {
    .footer {
        padding: var(--spacing-s);
    }

    .footer-list-item {
        padding: 12px;
    }

    .footer-link .footer-lang-btn {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-xs);
    }

    .footer-logo {
        padding: 12px 0;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        padding: 8px;
    }

    .footer-list-item {
        padding: 8px;
    }

    .footer-link {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-xs);
    }

    .footer-lang-btn {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-xs);
    }

    .footer-logo {
        padding: 8px 0;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding: 4px;
    }

    .footer-link {
        font-size: 0.5rem;
        line-height: 0.75rem;
    }

    .footer-lang-btn {
        font-size: 0.5rem;
        line-height: 0.75rem;
    }

    .footer-logo {
        padding: 4px 0;
    }
}
